body {
  margin: 0 auto;
  color: white !important;
  background-color: #0C0D0D !important;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}

.room {
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 4% 55% 41%;
  grid-template-areas:
  "navbar navbar navbar"
  "playlist videoplayer chat"
  "playlist search chat";
}

.container {
  box-sizing: border-box;
  /*border: 0.3px dotted white;*/
}

/***** Fonts *****/
.resultTitle, .videoTitle, .playlist h3, .chat h3 {
  font-family: 'Lora', serif;
}

.videoTitle, .playlist h3, .chat h3 {
  font-size: 1.1rem;
}

.resultTitle {
  font-size: 1rem;
}

.songDescription {
  color: #bbbec3;
}

/***** Navbar *****/

.navbar {
  max-height: 75px;
  overflow-y: hidden;
  z-index: 1;
  color: #21252B;
  font-size: 1.5rem;
  text-shadow: white 0px 0px 0.1px;
}

.nav-link {
  text-align: right !important;
  display: inline-block !important;
}

/***** Playlist *****/
.playlist {
  grid-area: playlist;
  padding: 18px;
  min-width: 250px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hostPlaylistEntry {
  position: relative;
  height: 50px;
  overflow: hidden;
  border-bottom: 0.2px solid white;
}

.deleteButton {
  font-size: 75%;
/*  font-size: 5px;
  height: 10px;
  width: 10px;*/
}

.voteButton {
  float: right;
}

.playlistEntry {
  position: relative;
  height: 75px;
  overflow: hidden;
  border-bottom: 0.2px solid white;
}

.playlist > div {
  padding: 0px;
}

.songTitle {
  font-weight: bold;
  white-space: nowrap;
/*  margin: 10px 0;*/
}

.songTitle:hover {

  transform: translateX(100%);
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/***** Video Player *****/
.videoplayer {
  grid-area: videoplayer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100% auto;
  overflow-x: hidden;
  z-index: 9;
  text-align: center;
  padding: 10px;
  background: #0C0D0D;
}

.videoFrame {
  margin: 0 auto 5px;
  pointer-events: none;

}

.line {
  width: 80%;
  height: 1px;
  margin: 10px auto 0;
  background: white;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0.1)), to(rgba(0,0,0,0.1)), color-stop(50%, white));
}

.videoTitle {
  height: 40px;
}

.videoDescription {
  height: 40px;
}

/***** Search component *****/
.search {
  grid-area: search;
  min-width: 100% auto;
  z-index: 9;
  background: #0C0D0D;
  padding: 0 15px 15px;
}

.searchResults {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow: hidden;
  /*background: #21252B;*/
}

.scroll {
  overflow: auto;
  padding: 10px;
}

.searchEntry {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 5px;
  opacity: 0.6;
  background: white;
  color: black;
  transition: opacity 0.4s;
  overflow: hidden;
}

.searchEntry img, .entryDetails, #plus {
  display: block;
}

.entryDetails {
  display: flex;
  width: 75%;
  padding: 5px;
  flex-direction: column;
  justify-content: space-around;
}

.searchEntry:hover {
  opacity: 1;
}

.resultTitle:hover, .searchEntry img:hover {
  cursor: pointer;
}

#plus {
  height: 23px;
  border-radius: 5px;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;
}

#plus:hover {
  background: black;
  color: white;
}

.searchbar {
  margin: 10px 0 10px 0;
}

.searchbar input {
  display: block;
  padding: 5px;
  width: 97%;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0.3px;
  opacity: 0.8;
  transition: opacity 0.4s;
}

.searchbar input:hover {
  opacity: 1;
}

/***** Chat component *****/
.userChat {
  grid-area: chat;
  padding: 18px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 90%;
}

.messageContainer {
  font-size: 15px;
  font-family: sans-serif;
}

.username {
  font-weight: 700;
}

.messageText {
  background-color: lightGrey;
  display: block;
  padding: 5px;
  width: 17%;
  margin: 0 auto;
  border-radius: 15px;
  border: 0.3px;
  opacity: 0.8;
  transition: opacity 0.4s;
  position: absolute;
  bottom: 20px;
}

.messageText:hover {
  opacity: 1;
}

.login {
  float: right;
}

.fillerImage {
  height: 50%;
  width: 100%;
}

.room-choice {
  cursor: pointer;
  list-style-type: none;
}

.jumbotron {
  background-color: #0C0D0D !important;
}

a {
  color: white !important;
  font-size: 20px !important;
}
